<% post.comments.each do |comment| %>
  <div class="mb-2">
    <span>
      <strong>
        <%= link_to comment.user.userprofile.name, user_path(comment.user), class: "no-text-decoration normal-color", style: "margin-left: 5px; color: black; text-decoration: none;" %>
      </strong>
    </span>
    <span><%= comment.content %></span>
    <% if comment.user == current_user %>
      <%= link_to comment_path(comment), method: :delete, remote: true, class: "core-sprite delete-comment hide-text", id: "deletecoment" do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
